.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: white;
    font-size: 14px;
    font-weight: 500;
    // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
  }
  
// 
.formtext{
  display: none !important
}
input:invalid[focused="true"] ~ .formtext{
  display: block !important;

}
input[type="text"]:invalid[focused="true"]{
  border: 2px solid #ec0000 !important;
  box-shadow: none !important;
}
input[type="email"]:invalid[focused="true"]{
border: 2px solid #ec0000 !important;
box-shadow: none !important;
}
input[type="password"]:invalid[focused="true"]{
border: 2px solid #ec0000 !important;
box-shadow: none !important;
}
